html, body {
    height: 100%;
    /* background-color: #d36969; */
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-size: 14px;
}

#login {
    background-color: #d36969;
}

.box {
    background-color: #f5f5f5;
    height: 100%;
    border-radius: 50px 0 0 50px;
    padding: 100px;
}

.box-inner {
    max-width: 290px;
}

#login .logo {
    width: 100%;
    font-size: 30px;
    color: #d36969;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.logo p {
    margin: 0;
}

.logo span:nth-child(1) {
    font-weight: 600;
    background-color: #d36969;
    color: #f5f5f5;
}

.logo span:nth-child(2) {
    font-weight: 200;
}

.input-container {
    text-align: center;
    padding: 65px 0 50px 0;
    justify-content: center;
}

.warning {
    text-align: center;
    color: #d36969;
    width: 100%;
    margin: 0;
}

input[type=text], input[type=password] {
    text-align: center;
    background-color: #f8f8f8;
    border-style: none;
    width: 100%;
    height: 45px;
    margin: 8px;
    border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
    box-shadow: 0 5px 15px #dbdbdb;
}

button[type=submit] {
    width: 50%;
    height: 45px;
    margin: 30px 0 0 16px;
    background-color: #f5f5f5;
    border-style: none;
    box-shadow: 0 5px 15px #dbdbdb;
    border-radius: 10px;
    font-weight: 600;
}

input[type=submit]:hover {
    box-shadow: 0 5px 15px #d1d1d1;
}

.signup {
    margin-top: 65px;
    text-align: center;
}

.signup a {
    text-decoration: none;
    font-weight: 500;
}